ul.truycap {
    display:flex;
    justify-content:center;
  }
  
  @font-face {
    font-family:roboto;
    src:url(fonts/Roboto-Regular.ttf);
  }
  
  @font-face {
    font-family:roboto;
    src:url(fonts/Roboto-Bold.ttf);
    font-weight:700;
  }
  
  body {
    font-family:roboto;
  }
  
  @media screen and (min-width:849px) {
    .header-nav-main .nav-dropdown {
      top:64px;
    }
    .stuck .header-nav-main .nav-dropdown {
      top:55px !important;
    }
  }
  
  .widget-area .widget {
    margin-bottom:50px;
  }
  
  @media screen and (min-width:849px) {
    .footer-1 .large-columns-4 div.col:nth-child(1) {
      max-width:40%;
      -ms-flex-preferred-size:40%;
      flex-basis:40%;
    }
    .footer-1 .large-columns-4 div.col {
      max-width:20%;
      -ms-flex-preferred-size:20%;
      flex-basis:20%;
    }
  }
  
  @media screen and (min-width:550px) and (max-width:768px) {
    .footer-1 .large-columns-4 div.col.widget {
      max-width:50% !important;
      -ms-flex-preferred-size:50% !important;
      flex-basis:50% !important;
    }
    .footer-1 .large-columns-4 {
      display:inline-flex;
    }
    .footer-1 .large-columns-4 div.col.widget:nth-child(1) {
      order:2;
    }
    .footer-1 .large-columns-4 div.col.widget:nth-child(4) {
      order:3;
    }
    .header-languages ul li {
      width:auto !important;
    }
    .header-languages ul li a {
      padding-left:0 !important;
    }
  }
  
  @media screen and (max-width:549px) {
    .footer-1 {
      text-align:center !important;
    }
    .footer-1 .widget_text .textwidget {
      text-align:center !important;
    }
    .footer-1 ul.menu>li,
    .footer-1 .widget>ul>li {
      display:inline-block;
    }
    .header-languages ul li {
      width:auto !important;
    }
    .header-languages ul li a {
      padding-left:0 !important;
    }
  }
  
  .category-78 .box-image {
    display:none;
  }
  
  .header-nav>li>a:hover {
    color:#19469d;
  }
  
  header .widget {
    margin:0 !important;
    padding:0 !important;
  }
  
  .qtranxs_widget ul {
    padding:0;
  }
  
  .section-title-bold-center span,
  .section-title-bold span {
    border:1px solid #19469d;
    padding:.3em .8em;
    color:#19469d;
  }
  
  .box-them {
    padding:10px 25px;
    background:#f6f6f6ee;
  }
  
  .home .page-wrapper {
    padding-top:0;
  }
  
  .category h1.page-title {
    display:none;
  }
  
  body.home .post-item .box-text h5.post-title {
    font-weight:400;
    line-height:1.5;
    color:#3b3b3b;
  }
  
  .slider-style-shadow .flickity-slider>*:before {
    display:none;
  }
  
  .dvls_result_infor p {
    font-size:14px;
  }
  
  .footer-widgets .widget-title {
    color:#19469d;
    display:block;
    margin-bottom:1.5em;
  }
  
  .footer-widgets .is-divider.small {
    display:none;
  }
  
  .category-recruitment .col.post-item .box-image {
    display:none !important;
  }
  
  #top-bar .qtranxs_widget ul li {
    border-top:none !important;
  }
  
  .copyright-footer {
    padding-top:20px;
  }
  
  .footer-widgets .textwidget,
  .footer-widgets ul.menu>li>a {
    color:#3b3b3b;
  }
  
  .footer-widgets .textwidget {
    text-align:justify;
    line-height:1.8;
  }
  
  .footer-widgets ul.menu>li+li {
    border-top:none;
  }
  
  .absolute-footer {
    background-color:#19469d;
  }
  
  .checkout-button,
  .button.checkout {
    background-color:#19469d;
  }
  
  .price-wrapper .price .woocommerce-Price-amount,
  body.home .woocommerce-Price-amount {
    color:#0057a8;
  }
  
  #tab-description {
    color:#3b3b3b;
  }
  
  .button.is-outline {
    background-color:#19469d;
    border:none;
    color:#fff;
  }
  
  .single-post .entry-image {
    display:none;
  }
  
  .single-post footer.entry-meta {
    display:none;
  }
  
  .single-post .entry-meta {
    display:none;
  }
  
  .category .badge.post-date {
    display:none;
  }
  
  .newspost li br {
    display:none;
  }
  
  .single-post .flex-row.next-prev-nav.bt.bb {
    display:block !important;
    border:0 !important;
  }
  
  .single-post .next-prev-nav .flex-col.text-left,
  .single-post .next-prev-nav .flex-col.text-right {
    text-align:center !important;
  }
  
  .header-nav-main .nav>li>a {
    opacity:1;
    font-size:14px;
  }
  
  .nav-dropdown {
    border:1px solid #ddd !important;
  }
  
  .nav-pagination>li>a,
  .page-number.dots {
    border:1px solid #19469a !important;
    color:#19469a !important;
  }
  
  .nav-pagination>li:hover>a {
    color:#fff !important;
  }
  
  .header-languages ul li {
    float:left;
    display:inline-block;
    margin-left:5px;
  }
  
  .nav-pagination li a,
  .nav-pagination li span {
    line-height:33px !important;
  }
  
  .shop-sidebar .widget {
    margin-bottom:50px;
  }
  
  .woocommerce-billing-fields p.form-row-first {
    width:100% !important;
  }
  
  .nav-dropdown-has-arrow li:after,
  .nav-dropdown-has-arrow li:before {
    display:none;
  }
  
  .header-nav-main>li>a {
    font-size:14px !important;
  }
  
  a.button-continue-shopping.button.primary.is-outline {
    color:#fff !important;
  }
  
  .mfp-content .product-quick-view-container .product {
    display:flex !important;
  }