// --- banner---

.banner{
    font-family: Roboto, sans-serif;
    // Banner Top
    .banner-top{
        padding-bottom: 30px;
        .banners-inner{
            display: inline-block;
            & .img-banner{
                
                & .overlay{
                    background-color: rgba(0, 0, 0, 0.25);
                    top: 0;
                    bottom: 0;
                    height: 100%;
                    left: -1px;
                    right: -1px;
                    background-color: rgba(0,0,0,.15);
                    transition: transform .3s,opacity .6s;
                    pointer-events: none;
                }
                & img{
                    width: 100%;
                    min-height: 510px;
                }
            }
            & .filters{
                position: absolute;
                z-index: 1;
                width: 94.5%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.25);
                top:0%;
            }
            & .text-banner{
                position: absolute;
                z-index: 2;
                top: 65%;
                left: 50%;
                transform: translate(-50%, -50%);
                & h3{
                    color: #fff;
                    pointer-events: none;
                    cursor: default;
                }
                & h4{
                    color: #fff;
                    pointer-events: none;
                    cursor: default;
                    font-size: 15px;
                    font-family: "Roboto", sans-serif;
                    font-weight: bold;
                    margin: 0px;
                    padding: 0px;
                }
                & h2{
                    color: #fff;
                    pointer-events: none;
                    cursor: default;
                }
                a{
                    &.button-view{
                        display: inline;
                        border-radius: 0px;
                        transition: transform .3s, box-shadow .2s, background-color .2s, color .2s, opacity .2s;
                        border:0px solid #e3e3e3;
                        -webkit-border-radius: 0px;
                        -moz-border-radius: 0px;
                        border-radius: 0px;
                        font-size:11px;
                        padding: 5px 13px 5px 13px; 
                        text-decoration:none; 
                        display:inline-block;
                        text-shadow: 0px 0px 0 rgba(0,0,0,0.3);
                        font-weight:bold;
                        color: #666 !important;
                        background-color: #FFFFFF; 
                        background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF));
                        background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
                        background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
                        background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
                        background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
                        background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
                        filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFF, endColorstr=#FFFFFF);
                        & span{
                            font-size: smaller;
                        }
                    }
                    &.button-view:hover{
                        transform: translateY(-6px);
                    }
                }
                // a:hover{
                // }
                
            }
        }
    }
    // Banner Bottom
    .banner-bottom{
        padding-bottom: 20px;
        .banners-inner{
            & .img-banner{
                position: relative;
                background-color: #fff;
                & .overlay{
                    position: absolute;
                    z-index: 1;
                    & .img-fluid{
                        width: 100%;
                        min-height: 510px;
                    }
                }
                
            }
            & .filters{
                position: absolute;
                z-index: 1;
                width: 92%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.25);
                top:0%;
            }
            & .text-banner{
                position: absolute;
                z-index: 2;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin-top: 110px;
                & h4{
                    color: #fff;
                    pointer-events: none;
                    cursor: default;
                    font-weight: bold;
                    font-size: 18px;
                }
                & h2{
                    color: #fff;
                    pointer-events: none;
                    cursor: default;
                    font-size: 24px;
                }
                a{
                    &.button-view{
                        position: relative;
                        border-radius: 0px;
                        transition: transform .3s, box-shadow .2s, background-color .2s, color .2s, opacity .2s;
                        border:0px solid #e3e3e3;
                        -webkit-border-radius: 0px;
                        -moz-border-radius: 0px;
                        border-radius: 0px;
                        font-size:11px;
                        padding: 5px 13px 5px 13px; 
                        text-decoration:none; 
                        display:inline-block;
                        text-shadow: 0px 0px 0 rgba(0,0,0,0.3);
                        font-weight:bold;
                        color: #666 !important;
                        background-color: #FFFFFF; 
                        background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF));
                        background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
                        background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
                        background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
                        background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
                        background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
                        filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFF, endColorstr=#FFFFFF);

                        & span{
                            font-size: smaller;
                        }
                    }
                    &.button-view:hover{
                        transform: translateY(-6px);
                    }
                }
            }
        }
    }
}
.banner-inner-email{
    padding-bottom: 30px;
    font-family: Roboto, sans-serif;
    .text-box{
        padding-top: 70px;
        padding-bottom: 150px;
        height: 350px;
        background-color: #bda9a9;
        text-align: center;
        
        
        .text-inner{
            width: 55%;
            margin-left: 8%;
            
            h3{
                color: #FFFFFF;
                font: 32px;
            }
            p{
                color: #f1f1f1;
                font:20px;
            }
        }
        .form-group{
            
            margin-left: 8%;
            .form-control{
                color: #FFFFFF;
                border-color: rgba(255,255,255,0.09);
                background-color: rgba(255,255,255,0.2) !important;
                border-radius: 35px;
            }
            ::placeholder { /* Firefox, Chrome, Opera */ 
                color: #FFFFFF; 
            }
            :-ms-input-placeholder { /* Internet Explorer 10-11 */ 
                color: #FFFFFF; 
            } 
            
            ::-ms-input-placeholder { /* Microsoft Edge */ 
                color: #FFFFFF; 
            } 
            
            .btn{
                border: 1px solid transparent;
                background-color: #19469A;
                border-radius: 35px;
                width: 105px;
                font-weight: bold;
            }
            .btn:hover{
                background-color: #103986;
            }
            
        }
    }
}

.video-player{
    padding-bottom: 50px;
}