

// Common Style
*::after, *::before{
    box-sizing: border-box;
}
html, body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #fff;
    font-style: normal;
    font-weight: normal;
}

// back to top 
.back-top {
	display: inline-block;
    background-color: #19469d;
    border-radius: 25px;
    width: 40px;
    height: 40px;
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: transform .3s, box-shadow .2s, background-color .2s, color .2s, opacity .2s;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    -webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
.back-top::after{
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
}
.back-top:hover {
    cursor: pointer;
    background-color: #333;
    text-decoration: none;
}
.back-top:active {
    background-color: #555;
}
.back-top.show {
    opacity: 1;
    visibility: visible;
}
.set-mt{
    margin-top: 1px;
}