.footer{
    border-top: 1px solid rgba(0,0,0,0.05);
    font-family: Roboto, sans-serif;
    .footer-text-inner{
        padding-top: 30px;
        .widget_text{
            
            .widget-title{
                color: #19469d;
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 18px;
                display: block;
                
                letter-spacing: .05em;
                text-transform: uppercase;
            }
            .menu-ho-tro-container{
                & ul{
                    list-style: none;
                    padding: 0px;
                    line-height: 34px;
                    & li{
                        & a{
                            color: rgb(14, 13, 13);
                        }
                    }
                }
            }
            .menu-ve-chung-toi-container{
                & ul{
                    list-style: none;
                    padding: 0px;
                    line-height: 35px;
                    & li{
                        & a{
                            color: rgb(14, 13, 13);
                        }
                    }
                }
            }
            .image-dathongbao{
                margin-top: 36%;
            }
        }
    }
    .image-dathongbao{
        max-width: 225px;
        max-height: 89px;
    }
    .connection{
        padding-top: 20px;
        height: 70px;
        display: grid;
        & ul.connection-inner{
            float: left;
            list-style: none;
            display: flex;
            justify-content: center;

            & li{
                justify-content: center;
                list-style: none;
                padding: 0 10px;     
                color: #19469d;
            }
        }
    }
    .absolute-footer{
        background-color: #19469d;
        height: 80px;
        .pull-left{
            margin: 3% 0px 0px 0px;
            float: left;
            .text-left{
                color: rgba(255,255,255,0.5);
                font-family: Roboto Condensed, sans-serif;
                font-size: 14.4px;
            }
            
            @media #{$large-mobile} {
                float: none;
                text-align: center;
            }
        }
        .pull-right{
            margin: 2% 0px 0px 0px;
            float: right;
            @media #{$tablet-device} {
                float: none;
            }
            .payment-icons{
                display: flex;
                float: right;
                
                .payment-icon{
                    opacity: .6;
                    transition: opacity .3s;
                    border-radius: 5px;
                    padding: 3px 5px 5px;
                    margin: 3px 3px 0;
                    background-color: rgba(255,255,255,0.1);
                    & svg{
                        fill: #FFF;
                        width: 49px;
                        height: 23px;
                        float: right;
                        & path{
                            float: right;
                        }
                    }
                }
            }
        }

        @media #{$tablet-device} {
            
        }
    }
    
}