

.header-top{
    margin-top: 1px;
    background-color: #19469a !important;
    color: #fff;
    max-height: 30px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    align-items: center;
    position: absolute;
    font-family: Roboto, sans-serif;
    height: -webkit-fill-available;
    min-height: 30px;
    .nav-left{
        // .float-left{
        // }
        & ul{
            & li{
                font-size: .75em;
                transform: scale(1, 1.05);
            }
        }
    }
    .nav-right{
        .float-right{
            padding-top: 1px;
        }
    }
    ul{
        list-style: none;
        margin: 0px;
        
        .header-flag{
            margin-bottom: 0px;
        }
        .header-social-icon{
            margin-right: 2px;
        }
        .head-language{
            padding-bottom: 1px;
        }
        li{
            
            display: inline-block;
            font-size: 12px;
            
            & .social-icon{
                & a{
                    margin: 0px 2px;
                    color: #fff;
                }
                & a:hover{
                    color: #dddfe2;
                }
            }
            
            &.nav-top-left{
                
                margin: 0px 9px;
                padding: 0px 0 .7em;
                .border-right-head{
                    height: 15px;
                    // border: 1px solid rgba(65, 62, 62, 0.27);
                    
                    display: initial;
                    margin-left: 15px;
                    // border-color: rgba(0,0,0,.1);
                    border-right: 1px solid rgba(0,0,0,.1);
                    border-color: rgba(255,255,255,.2);
                }
            }
            // &.nav-top-left{
                
            // }
            &.nav-top-right{
                margin-right: 8px;
            }
            & .nav-top-link{
                color: rgba(255,255,255,0.8);
            }
            & .nav-top-link:hover{
                color: #ffff;
                text-decoration: none;
            }
            
            ul{
                
                &.language-chooser{
                    padding: 0px;
                    margin: 0px;
                    float: left;
                    text-align: center;
                    line-height: 5px;
                    margin-left: 10px;
                    img{
                        
                        vertical-align: inherit;
                        margin-left: 2px;
                        margin-bottom: 1px;
                    }
                }
            }
        }
    }
    @media #{$laptop-device} {
        .language-chooser{
            position: relative;
        }
    }
    @media #{$tablet-device}{
        ul{
            margin: 0px;
            padding: 0px;
        }
        .nav-left{
            text-align: center;
            margin: 0 auto;
        }
        .nav-right{
            display: none;
        }
    }
    @media #{$large-mobile} {
        ul{
            margin: 0px;
            padding: 0px;
        }
        .nav-left{
            text-align: center;
            margin: 0 auto;
        }
        .nav-right{
            display: none;
        }
    }
    @media #{$small-mobile} {
        ul{
            margin: 0px;
            padding: 0px;
        }
        .nav-left{
            text-align: center;
            margin: 0 auto;
        }
        .nav-right{
            display: none;
        }
    }
}
// header bottom
.header-bottom{
    font-family: Roboto, sans-serif;
    padding-top: 40px;
    padding-bottom: 18px;
    & .header-border{
        border: 1px solid currentColor;
        opacity: 0.1;
    }
    & .logo-nav-left{
        padding-top: 13px;
    }
    & .logo-nav-right{
        padding-top: 9px;
        & .float-right{
            margin-right: 10px;
        }
        & button{
            background-color: #19469a;
            border-radius: 50%;
            width: 40px;
            height: 39px;
            & i{
                margin-left: -2px;
                color: white;
            }
        }

        ul{
            li:nth-child(n+2){
                border-left: 1px solid rgba(0,0,0,0.1);
                font-size: 5px;
                height: 15px;
            }
            
            li{
                & a{
                    color: #19469a;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: bold;
                    & .icon-search{
                        font-size: 1.2em;
                        top:-2px;
                    }
                    & i{
                        margin: 0px 1px;
                        padding-top: 1px;
                        color: #19469a;
                    }
                    .icon-angle-down{
                        color: #97a3ba;
                        margin-top: 2%;
                        margin-left: 3px;

                    }
                }
                /// box menu
                & .box-menu{
                    border-radius: 0px;
                    min-width: 250px;
                    box-shadow: 1px 1px 15px rgba(0,0,0,0.15);
                    padding: 20px;
                    font-size: 83%;
                    & .box-menu-inside{
                        color: rgba(102,102,102,0.85);
                        text-transform: capitalize;
                        font-weight: normal;
                    }
                    & .box-menu-inside:nth-child(n+1):nth-child(-n+3){
                        border-bottom: 1px solid #ececec;
                    }
                }
                & .menu-text{
                    color: #19469a;
                    margin-top: -1px;
                    margin-left: 14px;
                    margin-right: 10px;
                    .sr-only{
                        color: #0f2b60;
                    }
                }
                & .menu-text:hover{
                    color: #0f2b60;
                }
                & .menu-text:active{
                    color: #0f2b60;
                }
                & .dropdown-toggle::after{
                    margin-top: 6px;
                }
                & img{
                    padding-top: 0px;
                    margin: 0px 6px;
                }
                
            }
        }
        & .search-icon{
            padding: 0px 5px;
        }
        & .cart-item{
            padding-left: 18px;
            position: relative;
            & img{
                width: 23px;
                position: absolute;
                z-index: 1;
                bottom: -3px;
            }
            & span{
                position: absolute;
                z-index: 2;
                margin-left: 14px;
                margin-top: -2px;
            }
            & .cart-icon{
                font-size: 14px;
                margin-left: -4px;
                bottom: -100%;
                font-weight: 700;
            }
        }
    }
}
.carousel{
    padding-bottom: 10px;
    & img{
        width: 100%;
    }
}
