// Product Well

.product-well{
    padding-bottom: 30px;
    font-family: Roboto, sans-serif;
    .section-title{
        padding-top: 40px;
        padding-bottom: 20px;
        & h3{
            display: flex;
            align-items: center;
        }
        & b{
            display: block;
            -ms-flex: 1;
            flex: 1;
            height: 2px;
            opacity: .1;
            background-color: currentColor;
        }
        .section-title-main{
            border: 1px solid #19469d;
            padding: .3em .8em;
            color: #19469d;
            text-align: center;
            text-transform: uppercase;
            margin: 0 auto;
            font-size: 23px;
            
        }
    }
    .carousel {
        background: #ffffff;
        .flickity-prev-next-button{
            border-radius: 0px;
            height: 100%;
            opacity: 0;
            transition: opacity .5s, transform .3s, max-height .6s, filter .6s;
        }
        .flickity-prev-next-button.previous{
            left:0px;
        }
        .flickity-prev-next-button.next{
            right: 0px;
        }
        .carousel-cell {
            max-width: 100%;
            width: 24%;
            height: 315px;
            margin-right: 10px;
            border-radius: 5px;
            counter-increment: carousel-cell;
            
            .images-tools{
                .carousel-cell-image {
                    display: block;
                    max-height: 100%;
                    position: relative;
                }
                .quick-view{
                    position: absolute;
                    display: flex;
                    height: 10%;
                    top: 75%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    width: 100%;
                    background-color: #19469ae6;
                    padding: 0 !important;
                    opacity: 0;
                    transition: opacity .5s, transform .3s, max-height .6s, filter .6s;
                    filter: blur(0);
                    pointer-events: none;
                    & a{
                        left: 69%;
                        transform: translate(118%, 5%);
                        color:#FFF;
                    }
                }
                
                .images-normal{
                    display: inline;
                }
                .images-zoom{
                    display: none;
                }
            }
            

            
            .box-text{
                padding-top: 5px;
                font-size: 14.4px;
                color: #19469a;
                .title-wrapper{
                    
                    line-height: 1.3;
                    margin-top: .1em;
                    margin-bottom: .1em;
                    a{
                        color: #19469a;
                    }
                    a:hover{
                        text-decoration: none;
                        color: #334862;
                    }
                }
                .price-wrapper{
                    color: #0057a8;
                }
            }
        }
        .carousel-cell:hover{
            .images-tools{
                .images-normal{
                    display: none;
                }
                .images-zoom{
                    display: inline;
                }
                .quick-view{
                    opacity: 1;
                }
            }
            
        }
        /* cell number */
        .carousel-cell:before {
        }

        .flickity-page-dots{
            display: none;
        }
    }
    .carousel:hover{
        .flickity-prev-next-button{
            opacity: 1;
        }
    }
    
}

// ---------Product Imformation-----------------
.product-imformation{
    padding-bottom: 30px;
    font-family: Roboto, sans-serif;
    .section-title{
        padding-top: 40px;
        padding-bottom: 20px;
        & h3{
            display: flex;
            align-items: center;
        }
        & b{
            display: block;
            -ms-flex: 1;
            flex: 1;
            height: 2px;
            opacity: .1;
            background-color: currentColor;
        }
        .section-title-main{
            border: 1px solid #19469d;
            padding: .3em .8em;
            color: #19469d;
            text-align: center;
            text-transform: uppercase;
            margin: 0 auto;
            font-size: 23px;
            
        }
    }

    .product-detail{
        padding: 35px 0px;
        .product{
            position: relative;
            transition: 0.2s;
            .box-img{
                max-width: 100%;
                width: 100%;
                height: 260px;
                z-index: 1;
                background-color: #ffffff;
                & img{
                    width: 255px;
                    height: 255px;
                }
            }
            .box-text-inner{
                z-index: 2;
                position: absolute;
                width: 80%;
                left: 10%;
                top: 80%;
                background-color: rgba(255,255,255,0.95);
                margin: -15% auto;
                text-align: center;
                line-height: 0.3;
                margin-top: .1em;
                margin-bottom: .1em;
                text-transform: uppercase;
                & h5{
                    color:#555555;
                    font-family: Roboto, sans-serif;
                }
                & p{
                    color: #19469a; // #334862;
                    font-family: Roboto, sans-serif;
                }
            }
        }
        .product:hover{
            margin-top: -20px;
            -webkit-box-shadow: rgb(151, 155, 155) 0px 0px 32px ;
            -moz-box-shadow: rgb(151, 155, 155) 0px 0px 32px ; 
            box-shadow: rgb(151, 155, 155) 0px 0px 32px;
        }
    }
}

// -------------trademark--------------
.trademark{
    padding-bottom: 40px;
    font-family: Roboto, sans-serif;
    .section-title{
        padding-top: 8px;
        padding-bottom: 20px;
        & h3{
            display: flex;
            align-items: center;
        }
        & b{
            display: block;
            -ms-flex: 1;
            flex: 1;
            height: 2px;
            opacity: .1;
            background-color: currentColor;
        }
        .section-title-main{
            border: 1px solid #19469d;
            padding: .3em .8em;
            color: #19469d;
            text-align: center;
            text-transform: uppercase;
            margin: 0 auto;
            font-size: 23px;
        }
    }
    
    .carousel {
        
        background: #ffffff;
        
        .flickity-slider{
            transform: translateX(-0.3%);
        }
        .carousel-cell {
            position: relative;
            top:30%;
            width: 20%;
            height: 100px;
            margin-right: 72px;
            // background: #8C8;
            // counter-increment: carousel-cell;
            & a{
                margin-left: -138px;
            }
        }
        .carousel-cell:after {
            content: '';
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            position: absolute;
          }
        /* cell number */
        .carousel-cell:before {
            display: block;
            text-align: center;
            // content: counter(carousel-cell);
            line-height: 200px;
            font-size: 80px;
            color: white;
        }
        .flickity-page-dots{
            display: none;
        }
        .flickity-prev-next-button{
            border-radius: 0%;
            height: 100%;
        }
        .flickity-prev-next-button.previous{
            left: 0px;
        }
        .flickity-prev-next-button.next {
            right: 0px;
        }
        .flickity-button{
            opacity: 0;
            transition: 1s;
        }
        
        
    }
    .carousel:hover{
        .flickity-button{
            opacity: 1;
        }
    }
}

// ------------news--------------
.news{
    padding-bottom: 70px;
    font-family: Roboto, sans-serif;
    .section-title{
        padding-top: 40px;
        padding-bottom: 20px;
        & h3{
            display: flex;
            align-items: center;
        }
        & b{
            display: block;
            -ms-flex: 1;
            flex: 1;
            height: 2px;
            opacity: .1;
            background-color: currentColor;
        }
        .section-title-main{
            border: 1px solid #19469d;
            padding: .3em .8em;
            color: #19469d;
            text-align: center;
            text-transform: uppercase;
            margin: 0 auto;
            font-size: 23px;
        }
    }
    .carousel {
        .flickity-slider{
            transform: translateX(-0.3%);
        }
        background: #ffffff;
        width: 100%;
        padding-top: 20px;
        height: 300px;
        .carousel-cell {
            width: 23.6%;
            height: 400px;
            margin-right: 20px;
            // background: #8C8;
            border-radius: 5px;
            // counter-increment: carousel-cell;
            .news-inner{
                position: relative;
                left: -125px;
                .box-img{
                    z-index: 1;
                    & img{
                        height: 237px;
                    }
                }
                .box-text{
                    z-index: 2;
                    position: absolute;
                    width: 77%;
                    height: 39%;
                    left: 11%;
                    top: 80%;
                    color: #3b3b3b;
                    background-color: rgba(255,255,255,0.95);
                    margin: -15% auto;
                    text-align: center;
                    line-height: 0.3;
                    margin-top: .1em;
                    margin-bottom: .1em;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    text-transform: uppercase;
                    font: 14.72px;
                    .box{
                        height: 3px;
                        display: block;
                        background-color: rgba(0,0,0,0.1);
                        margin: 0em 0 0.5em 5.3em;
                        width: 100%;
                        max-width: 30px;
                    }
                    & h5{
                        font-size: 12.72px;
                        font-weight: 350;
                        line-height: 1.5;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: normal;
                        height: 55px;
                    }
                    & button{
                        border:0px solid #7d99ca; 
                        -webkit-border-radius: 0px; 
                        -moz-border-radius: 0px;
                        border-radius: 0px;
                        font-size:13px;
                        padding: 12px; 
                        text-decoration:none; 
                        display:inline-block;
                        text-shadow: 0px 0px 0 rgba(0,0,0,0.3);
                        font-weight:bold; 
                        color: #FFFFFF;
                        background-color: var(--primary-color);
                        border-color: rgba(0,0,0,0.05);
                        background-image: -webkit-gradient(linear, left top, left bottom, #19469a);
                        background-image: -webkit-linear-gradient(top, #19469a);
                        background-image: -moz-linear-gradient(top, #19469a);
                        background-image: -ms-linear-gradient(top, #19469a);
                        background-image: -o-linear-gradient(top, #19469a);
                        background-image: linear-gradient(to bottom, #19469a);
                        filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#A5B8DA, endColorstr=#7089B3);
                    }
                }
            }
        }
        /* cell number */
        .carousel-cell:before {
            display: block;
            text-align: center;
            // content: counter(carousel-cell);
            line-height: 200px;
            font-size: 80px;
            color: white;
        }
        .flickity-page-dots{
            opacity: 0;
        }
        .flickity-button{
            border-radius: 0%;
            height: 100%;
            opacity: 0;
            transition: 1s;
        }
        .flickity-prev-next-button.previous {
            left: 0px;
            
        }
        .flickity-prev-next-button.next {
            right: 0px;
        }
    }
    .carousel:hover{
        .flickity-button{
            
            opacity: 1;
        }
    }
}