// Google font
// @font-face{font-family:roboto;src:url(../fonts/Roboto-Regular.ttf)}
// @font-face{font-family:roboto;src:url(../fonts/Roboto-Bold.ttf);font-weight:700}
@font-face {
  font-family:roboto;
  src:url(../fonts/Roboto-Regular.ttf);
}
  
@font-face {
  font-family:roboto;
  src:url(../fonts/Roboto-Bold.ttf);
  font-weight:700;
}
body{
  font-family: roboto;
}

//Variabls
$font: 'Roboto', sans-serif;

$extraBig-device: 'only screen and (min-width: 1600px)';
$laptop-device:   'only screen and (min-width: 1200px) and (max-width:1599px)';
$desktop-device:  'only screen and (min-width: 992px) and (max-width:1199px)';
$tablet-device:   'only screen and (min-width: 768px) and (max-width: 991px)';
$large-mobile:    'only screen and (max-width: 767px)';
$small-mobile:    'only screen and (max-width: 479px)';