@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

body {
  font-family: roboto;
}

*::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #fff;
  font-style: normal;
  font-weight: normal;
}

.back-top {
  display: inline-block;
  background-color: #19469d;
  border-radius: 25px;
  width: 40px;
  height: 40px;
  text-align: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  -webkit-transition: background-color .2s, color .2s, opacity .2s, -webkit-transform .3s, -webkit-box-shadow .2s;
  transition: background-color .2s, color .2s, opacity .2s, -webkit-transform .3s, -webkit-box-shadow .2s;
  transition: transform .3s, box-shadow .2s, background-color .2s, color .2s, opacity .2s;
  transition: transform .3s, box-shadow .2s, background-color .2s, color .2s, opacity .2s, -webkit-transform .3s, -webkit-box-shadow .2s;
  -webkit-transition: background-color .3s, opacity .5s, visibility .5s;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  -webkit-transition: 1s;
  transition: 1s;
}

.back-top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
}

.back-top:hover {
  cursor: pointer;
  background-color: #333;
  text-decoration: none;
}

.back-top:active {
  background-color: #555;
}

.back-top.show {
  opacity: 1;
  visibility: visible;
}

.set-mt {
  margin-top: 1px;
}

.header-top {
  margin-top: 1px;
  background-color: #19469a !important;
  color: #fff;
  max-height: 30px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  font-family: Roboto, sans-serif;
  height: -webkit-fill-available;
  min-height: 30px;
}

.header-top .nav-left ul li {
  font-size: .75em;
  -webkit-transform: scale(1, 1.05);
          transform: scale(1, 1.05);
}

.header-top .nav-right .float-right {
  padding-top: 1px;
}

.header-top ul {
  list-style: none;
  margin: 0px;
}

.header-top ul .header-flag {
  margin-bottom: 0px;
}

.header-top ul .header-social-icon {
  margin-right: 2px;
}

.header-top ul .head-language {
  padding-bottom: 1px;
}

.header-top ul li {
  display: inline-block;
  font-size: 12px;
}

.header-top ul li .social-icon a {
  margin: 0px 2px;
  color: #fff;
}

.header-top ul li .social-icon a:hover {
  color: #dddfe2;
}

.header-top ul li.nav-top-left {
  margin: 0px 9px;
  padding: 0px 0 .7em;
}

.header-top ul li.nav-top-left .border-right-head {
  height: 15px;
  display: initial;
  margin-left: 15px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-color: rgba(255, 255, 255, 0.2);
}

.header-top ul li.nav-top-right {
  margin-right: 8px;
}

.header-top ul li .nav-top-link {
  color: rgba(255, 255, 255, 0.8);
}

.header-top ul li .nav-top-link:hover {
  color: #ffff;
  text-decoration: none;
}

.header-top ul li ul.language-chooser {
  padding: 0px;
  margin: 0px;
  float: left;
  text-align: center;
  line-height: 5px;
  margin-left: 10px;
}

.header-top ul li ul.language-chooser img {
  vertical-align: inherit;
  margin-left: 2px;
  margin-bottom: 1px;
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  .header-top .language-chooser {
    position: relative;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-top ul {
    margin: 0px;
    padding: 0px;
  }
  .header-top .nav-left {
    text-align: center;
    margin: 0 auto;
  }
  .header-top .nav-right {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .header-top ul {
    margin: 0px;
    padding: 0px;
  }
  .header-top .nav-left {
    text-align: center;
    margin: 0 auto;
  }
  .header-top .nav-right {
    display: none;
  }
}

@media only screen and (max-width: 479px) {
  .header-top ul {
    margin: 0px;
    padding: 0px;
  }
  .header-top .nav-left {
    text-align: center;
    margin: 0 auto;
  }
  .header-top .nav-right {
    display: none;
  }
}

.header-bottom {
  font-family: Roboto, sans-serif;
  padding-top: 40px;
  padding-bottom: 18px;
}

.header-bottom .header-border {
  border: 1px solid currentColor;
  opacity: 0.1;
}

.header-bottom .logo-nav-left {
  padding-top: 13px;
}

.header-bottom .logo-nav-right {
  padding-top: 9px;
}

.header-bottom .logo-nav-right .float-right {
  margin-right: 10px;
}

.header-bottom .logo-nav-right button {
  background-color: #19469a;
  border-radius: 50%;
  width: 40px;
  height: 39px;
}

.header-bottom .logo-nav-right button i {
  margin-left: -2px;
  color: white;
}

.header-bottom .logo-nav-right ul li:nth-child(n+2) {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 5px;
  height: 15px;
}

.header-bottom .logo-nav-right ul li a {
  color: #19469a;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.header-bottom .logo-nav-right ul li a .icon-search {
  font-size: 1.2em;
  top: -2px;
}

.header-bottom .logo-nav-right ul li a i {
  margin: 0px 1px;
  padding-top: 1px;
  color: #19469a;
}

.header-bottom .logo-nav-right ul li a .icon-angle-down {
  color: #97a3ba;
  margin-top: 2%;
  margin-left: 3px;
}

.header-bottom .logo-nav-right ul li .box-menu {
  border-radius: 0px;
  min-width: 250px;
  -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
  padding: 20px;
  font-size: 83%;
}

.header-bottom .logo-nav-right ul li .box-menu .box-menu-inside {
  color: rgba(102, 102, 102, 0.85);
  text-transform: capitalize;
  font-weight: normal;
}

.header-bottom .logo-nav-right ul li .box-menu .box-menu-inside:nth-child(n+1):nth-child(-n+3) {
  border-bottom: 1px solid #ececec;
}

.header-bottom .logo-nav-right ul li .menu-text {
  color: #19469a;
  margin-top: -1px;
  margin-left: 14px;
  margin-right: 10px;
}

.header-bottom .logo-nav-right ul li .menu-text .sr-only {
  color: #0f2b60;
}

.header-bottom .logo-nav-right ul li .menu-text:hover {
  color: #0f2b60;
}

.header-bottom .logo-nav-right ul li .menu-text:active {
  color: #0f2b60;
}

.header-bottom .logo-nav-right ul li .dropdown-toggle::after {
  margin-top: 6px;
}

.header-bottom .logo-nav-right ul li img {
  padding-top: 0px;
  margin: 0px 6px;
}

.header-bottom .logo-nav-right .search-icon {
  padding: 0px 5px;
}

.header-bottom .logo-nav-right .cart-item {
  padding-left: 18px;
  position: relative;
}

.header-bottom .logo-nav-right .cart-item img {
  width: 23px;
  position: absolute;
  z-index: 1;
  bottom: -3px;
}

.header-bottom .logo-nav-right .cart-item span {
  position: absolute;
  z-index: 2;
  margin-left: 14px;
  margin-top: -2px;
}

.header-bottom .logo-nav-right .cart-item .cart-icon {
  font-size: 14px;
  margin-left: -4px;
  bottom: -100%;
  font-weight: 700;
}

.carousel {
  padding-bottom: 10px;
}

.carousel img {
  width: 100%;
}

.banner {
  font-family: Roboto, sans-serif;
}

.banner .banner-top {
  padding-bottom: 30px;
}

.banner .banner-top .banners-inner {
  display: inline-block;
}

.banner .banner-top .banners-inner .img-banner .overlay {
  background-color: rgba(0, 0, 0, 0.25);
  top: 0;
  bottom: 0;
  height: 100%;
  left: -1px;
  right: -1px;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-transition: opacity .6s,-webkit-transform .3s;
  transition: opacity .6s,-webkit-transform .3s;
  transition: transform .3s,opacity .6s;
  transition: transform .3s,opacity .6s,-webkit-transform .3s;
  pointer-events: none;
}

.banner .banner-top .banners-inner .img-banner img {
  width: 100%;
  min-height: 510px;
}

.banner .banner-top .banners-inner .filters {
  position: absolute;
  z-index: 1;
  width: 94.5%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  top: 0%;
}

.banner .banner-top .banners-inner .text-banner {
  position: absolute;
  z-index: 2;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.banner .banner-top .banners-inner .text-banner h3 {
  color: #fff;
  pointer-events: none;
  cursor: default;
}

.banner .banner-top .banners-inner .text-banner h4 {
  color: #fff;
  pointer-events: none;
  cursor: default;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.banner .banner-top .banners-inner .text-banner h2 {
  color: #fff;
  pointer-events: none;
  cursor: default;
}

.banner .banner-top .banners-inner .text-banner a.button-view {
  display: inline;
  border-radius: 0px;
  -webkit-transition: background-color .2s, color .2s, opacity .2s, -webkit-transform .3s, -webkit-box-shadow .2s;
  transition: background-color .2s, color .2s, opacity .2s, -webkit-transform .3s, -webkit-box-shadow .2s;
  transition: transform .3s, box-shadow .2s, background-color .2s, color .2s, opacity .2s;
  transition: transform .3s, box-shadow .2s, background-color .2s, color .2s, opacity .2s, -webkit-transform .3s, -webkit-box-shadow .2s;
  border: 0px solid #e3e3e3;
  border-radius: 0px;
  font-size: 11px;
  padding: 5px 13px 5px 13px;
  text-decoration: none;
  display: inline-block;
  text-shadow: 0px 0px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
  color: #666 !important;
  background-color: #FFFFFF;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF));
  background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFF, endColorstr=#FFFFFF);
}

.banner .banner-top .banners-inner .text-banner a.button-view span {
  font-size: smaller;
}

.banner .banner-top .banners-inner .text-banner a.button-view:hover {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.banner .banner-bottom {
  padding-bottom: 20px;
}

.banner .banner-bottom .banners-inner .img-banner {
  position: relative;
  background-color: #fff;
}

.banner .banner-bottom .banners-inner .img-banner .overlay {
  position: absolute;
  z-index: 1;
}

.banner .banner-bottom .banners-inner .img-banner .overlay .img-fluid {
  width: 100%;
  min-height: 510px;
}

.banner .banner-bottom .banners-inner .filters {
  position: absolute;
  z-index: 1;
  width: 92%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  top: 0%;
}

.banner .banner-bottom .banners-inner .text-banner {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 110px;
}

.banner .banner-bottom .banners-inner .text-banner h4 {
  color: #fff;
  pointer-events: none;
  cursor: default;
  font-weight: bold;
  font-size: 18px;
}

.banner .banner-bottom .banners-inner .text-banner h2 {
  color: #fff;
  pointer-events: none;
  cursor: default;
  font-size: 24px;
}

.banner .banner-bottom .banners-inner .text-banner a.button-view {
  position: relative;
  border-radius: 0px;
  -webkit-transition: background-color .2s, color .2s, opacity .2s, -webkit-transform .3s, -webkit-box-shadow .2s;
  transition: background-color .2s, color .2s, opacity .2s, -webkit-transform .3s, -webkit-box-shadow .2s;
  transition: transform .3s, box-shadow .2s, background-color .2s, color .2s, opacity .2s;
  transition: transform .3s, box-shadow .2s, background-color .2s, color .2s, opacity .2s, -webkit-transform .3s, -webkit-box-shadow .2s;
  border: 0px solid #e3e3e3;
  border-radius: 0px;
  font-size: 11px;
  padding: 5px 13px 5px 13px;
  text-decoration: none;
  display: inline-block;
  text-shadow: 0px 0px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
  color: #666 !important;
  background-color: #FFFFFF;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF));
  background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFF, endColorstr=#FFFFFF);
}

.banner .banner-bottom .banners-inner .text-banner a.button-view span {
  font-size: smaller;
}

.banner .banner-bottom .banners-inner .text-banner a.button-view:hover {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.banner-inner-email {
  padding-bottom: 30px;
  font-family: Roboto, sans-serif;
}

.banner-inner-email .text-box {
  padding-top: 70px;
  padding-bottom: 150px;
  height: 350px;
  background-color: #bda9a9;
  text-align: center;
}

.banner-inner-email .text-box .text-inner {
  width: 55%;
  margin-left: 8%;
}

.banner-inner-email .text-box .text-inner h3 {
  color: #FFFFFF;
  font: 32px;
}

.banner-inner-email .text-box .text-inner p {
  color: #f1f1f1;
  font: 20px;
}

.banner-inner-email .text-box .form-group {
  margin-left: 8%;
}

.banner-inner-email .text-box .form-group .form-control {
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.09);
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-radius: 35px;
}

.banner-inner-email .text-box .form-group ::-webkit-input-placeholder {
  /* Firefox, Chrome, Opera */
  color: #FFFFFF;
}

.banner-inner-email .text-box .form-group :-ms-input-placeholder {
  /* Firefox, Chrome, Opera */
  color: #FFFFFF;
}

.banner-inner-email .text-box .form-group ::-ms-input-placeholder {
  /* Firefox, Chrome, Opera */
  color: #FFFFFF;
}

.banner-inner-email .text-box .form-group ::placeholder {
  /* Firefox, Chrome, Opera */
  color: #FFFFFF;
}

.banner-inner-email .text-box .form-group :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #FFFFFF;
}

.banner-inner-email .text-box .form-group ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #FFFFFF;
}

.banner-inner-email .text-box .form-group .btn {
  border: 1px solid transparent;
  background-color: #19469A;
  border-radius: 35px;
  width: 105px;
  font-weight: bold;
}

.banner-inner-email .text-box .form-group .btn:hover {
  background-color: #103986;
}

.video-player {
  padding-bottom: 50px;
}

.product-well {
  padding-bottom: 30px;
  font-family: Roboto, sans-serif;
}

.product-well .section-title {
  padding-top: 40px;
  padding-bottom: 20px;
}

.product-well .section-title h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-well .section-title b {
  display: block;
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
  height: 2px;
  opacity: .1;
  background-color: currentColor;
}

.product-well .section-title .section-title-main {
  border: 1px solid #19469d;
  padding: .3em .8em;
  color: #19469d;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 23px;
}

.product-well .carousel {
  background: #ffffff;
  /* cell number */
}

.product-well .carousel .flickity-prev-next-button {
  border-radius: 0px;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity .5s, max-height .6s, -webkit-transform .3s, -webkit-filter .6s;
  transition: opacity .5s, max-height .6s, -webkit-transform .3s, -webkit-filter .6s;
  transition: opacity .5s, transform .3s, max-height .6s, filter .6s;
  transition: opacity .5s, transform .3s, max-height .6s, filter .6s, -webkit-transform .3s, -webkit-filter .6s;
}

.product-well .carousel .flickity-prev-next-button.previous {
  left: 0px;
}

.product-well .carousel .flickity-prev-next-button.next {
  right: 0px;
}

.product-well .carousel .carousel-cell {
  max-width: 100%;
  width: 24%;
  height: 315px;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.product-well .carousel .carousel-cell .images-tools .carousel-cell-image {
  display: block;
  max-height: 100%;
  position: relative;
}

.product-well .carousel .carousel-cell .images-tools .quick-view {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10%;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: #19469ae6;
  padding: 0 !important;
  opacity: 0;
  -webkit-transition: opacity .5s, max-height .6s, -webkit-transform .3s, -webkit-filter .6s;
  transition: opacity .5s, max-height .6s, -webkit-transform .3s, -webkit-filter .6s;
  transition: opacity .5s, transform .3s, max-height .6s, filter .6s;
  transition: opacity .5s, transform .3s, max-height .6s, filter .6s, -webkit-transform .3s, -webkit-filter .6s;
  -webkit-filter: blur(0);
          filter: blur(0);
  pointer-events: none;
}

.product-well .carousel .carousel-cell .images-tools .quick-view a {
  left: 69%;
  -webkit-transform: translate(118%, 5%);
          transform: translate(118%, 5%);
  color: #FFF;
}

.product-well .carousel .carousel-cell .images-tools .images-normal {
  display: inline;
}

.product-well .carousel .carousel-cell .images-tools .images-zoom {
  display: none;
}

.product-well .carousel .carousel-cell .box-text {
  padding-top: 5px;
  font-size: 14.4px;
  color: #19469a;
}

.product-well .carousel .carousel-cell .box-text .title-wrapper {
  line-height: 1.3;
  margin-top: .1em;
  margin-bottom: .1em;
}

.product-well .carousel .carousel-cell .box-text .title-wrapper a {
  color: #19469a;
}

.product-well .carousel .carousel-cell .box-text .title-wrapper a:hover {
  text-decoration: none;
  color: #334862;
}

.product-well .carousel .carousel-cell .box-text .price-wrapper {
  color: #0057a8;
}

.product-well .carousel .carousel-cell:hover .images-tools .images-normal {
  display: none;
}

.product-well .carousel .carousel-cell:hover .images-tools .images-zoom {
  display: inline;
}

.product-well .carousel .carousel-cell:hover .images-tools .quick-view {
  opacity: 1;
}

.product-well .carousel .flickity-page-dots {
  display: none;
}

.product-well .carousel:hover .flickity-prev-next-button {
  opacity: 1;
}

.product-imformation {
  padding-bottom: 30px;
  font-family: Roboto, sans-serif;
}

.product-imformation .section-title {
  padding-top: 40px;
  padding-bottom: 20px;
}

.product-imformation .section-title h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-imformation .section-title b {
  display: block;
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
  height: 2px;
  opacity: .1;
  background-color: currentColor;
}

.product-imformation .section-title .section-title-main {
  border: 1px solid #19469d;
  padding: .3em .8em;
  color: #19469d;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 23px;
}

.product-imformation .product-detail {
  padding: 35px 0px;
}

.product-imformation .product-detail .product {
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.product-imformation .product-detail .product .box-img {
  max-width: 100%;
  width: 100%;
  height: 260px;
  z-index: 1;
  background-color: #ffffff;
}

.product-imformation .product-detail .product .box-img img {
  width: 255px;
  height: 255px;
}

.product-imformation .product-detail .product .box-text-inner {
  z-index: 2;
  position: absolute;
  width: 80%;
  left: 10%;
  top: 80%;
  background-color: rgba(255, 255, 255, 0.95);
  margin: -15% auto;
  text-align: center;
  line-height: 0.3;
  margin-top: .1em;
  margin-bottom: .1em;
  text-transform: uppercase;
}

.product-imformation .product-detail .product .box-text-inner h5 {
  color: #555555;
  font-family: Roboto, sans-serif;
}

.product-imformation .product-detail .product .box-text-inner p {
  color: #19469a;
  font-family: Roboto, sans-serif;
}

.product-imformation .product-detail .product:hover {
  margin-top: -20px;
  -webkit-box-shadow: #979b9b 0px 0px 32px;
  box-shadow: #979b9b 0px 0px 32px;
}

.trademark {
  padding-bottom: 40px;
  font-family: Roboto, sans-serif;
}

.trademark .section-title {
  padding-top: 8px;
  padding-bottom: 20px;
}

.trademark .section-title h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trademark .section-title b {
  display: block;
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
  height: 2px;
  opacity: .1;
  background-color: currentColor;
}

.trademark .section-title .section-title-main {
  border: 1px solid #19469d;
  padding: .3em .8em;
  color: #19469d;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 23px;
}

.trademark .carousel {
  background: #ffffff;
  /* cell number */
}

.trademark .carousel .flickity-slider {
  -webkit-transform: translateX(-0.3%);
          transform: translateX(-0.3%);
}

.trademark .carousel .carousel-cell {
  position: relative;
  top: 30%;
  width: 20%;
  height: 100px;
  margin-right: 72px;
}

.trademark .carousel .carousel-cell a {
  margin-left: -138px;
}

.trademark .carousel .carousel-cell:after {
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.trademark .carousel .carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.trademark .carousel .flickity-page-dots {
  display: none;
}

.trademark .carousel .flickity-prev-next-button {
  border-radius: 0%;
  height: 100%;
}

.trademark .carousel .flickity-prev-next-button.previous {
  left: 0px;
}

.trademark .carousel .flickity-prev-next-button.next {
  right: 0px;
}

.trademark .carousel .flickity-button {
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.trademark .carousel:hover .flickity-button {
  opacity: 1;
}

.news {
  padding-bottom: 70px;
  font-family: Roboto, sans-serif;
}

.news .section-title {
  padding-top: 40px;
  padding-bottom: 20px;
}

.news .section-title h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news .section-title b {
  display: block;
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
  height: 2px;
  opacity: .1;
  background-color: currentColor;
}

.news .section-title .section-title-main {
  border: 1px solid #19469d;
  padding: .3em .8em;
  color: #19469d;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 23px;
}

.news .carousel {
  background: #ffffff;
  width: 100%;
  padding-top: 20px;
  height: 300px;
  /* cell number */
}

.news .carousel .flickity-slider {
  -webkit-transform: translateX(-0.3%);
          transform: translateX(-0.3%);
}

.news .carousel .carousel-cell {
  width: 23.6%;
  height: 400px;
  margin-right: 20px;
  border-radius: 5px;
}

.news .carousel .carousel-cell .news-inner {
  position: relative;
  left: -125px;
}

.news .carousel .carousel-cell .news-inner .box-img {
  z-index: 1;
}

.news .carousel .carousel-cell .news-inner .box-img img {
  height: 237px;
}

.news .carousel .carousel-cell .news-inner .box-text {
  z-index: 2;
  position: absolute;
  width: 77%;
  height: 39%;
  left: 11%;
  top: 80%;
  color: #3b3b3b;
  background-color: rgba(255, 255, 255, 0.95);
  margin: -15% auto;
  text-align: center;
  line-height: 0.3;
  margin-top: .1em;
  margin-bottom: .1em;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font: 14.72px;
}

.news .carousel .carousel-cell .news-inner .box-text .box {
  height: 3px;
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0em 0 0.5em 5.3em;
  width: 100%;
  max-width: 30px;
}

.news .carousel .carousel-cell .news-inner .box-text h5 {
  font-size: 12.72px;
  font-weight: 350;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  height: 55px;
}

.news .carousel .carousel-cell .news-inner .box-text button {
  border: 0px solid #7d99ca;
  border-radius: 0px;
  font-size: 13px;
  padding: 12px;
  text-decoration: none;
  display: inline-block;
  text-shadow: 0px 0px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
  color: #FFFFFF;
  background-color: var(--primary-color);
  border-color: rgba(0, 0, 0, 0.05);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#19469a));
  background-image: linear-gradient(to bottom, #19469a);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#A5B8DA, endColorstr=#7089B3);
}

.news .carousel .carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.news .carousel .flickity-page-dots {
  opacity: 0;
}

.news .carousel .flickity-button {
  border-radius: 0%;
  height: 100%;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.news .carousel .flickity-prev-next-button.previous {
  left: 0px;
}

.news .carousel .flickity-prev-next-button.next {
  right: 0px;
}

.news .carousel:hover .flickity-button {
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  font-family: Roboto, sans-serif;
}

.footer .footer-text-inner {
  padding-top: 30px;
}

.footer .footer-text-inner .widget_text .widget-title {
  color: #19469d;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 18px;
  display: block;
  letter-spacing: .05em;
  text-transform: uppercase;
}

.footer .footer-text-inner .widget_text .menu-ho-tro-container ul {
  list-style: none;
  padding: 0px;
  line-height: 34px;
}

.footer .footer-text-inner .widget_text .menu-ho-tro-container ul li a {
  color: #0e0d0d;
}

.footer .footer-text-inner .widget_text .menu-ve-chung-toi-container ul {
  list-style: none;
  padding: 0px;
  line-height: 35px;
}

.footer .footer-text-inner .widget_text .menu-ve-chung-toi-container ul li a {
  color: #0e0d0d;
}

.footer .footer-text-inner .widget_text .image-dathongbao {
  margin-top: 36%;
}

.footer .image-dathongbao {
  max-width: 225px;
  max-height: 89px;
}

.footer .connection {
  padding-top: 20px;
  height: 70px;
  display: -ms-grid;
  display: grid;
}

.footer .connection ul.connection-inner {
  float: left;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .connection ul.connection-inner li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0 10px;
  color: #19469d;
}

.footer .absolute-footer {
  background-color: #19469d;
  height: 80px;
}

.footer .absolute-footer .pull-left {
  margin: 3% 0px 0px 0px;
  float: left;
}

.footer .absolute-footer .pull-left .text-left {
  color: rgba(255, 255, 255, 0.5);
  font-family: Roboto Condensed, sans-serif;
  font-size: 14.4px;
}

@media only screen and (max-width: 767px) {
  .footer .absolute-footer .pull-left {
    float: none;
    text-align: center;
  }
}

.footer .absolute-footer .pull-right {
  margin: 2% 0px 0px 0px;
  float: right;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer .absolute-footer .pull-right {
    float: none;
  }
}

.footer .absolute-footer .pull-right .payment-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
}

.footer .absolute-footer .pull-right .payment-icons .payment-icon {
  opacity: .6;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  border-radius: 5px;
  padding: 3px 5px 5px;
  margin: 3px 3px 0;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .absolute-footer .pull-right .payment-icons .payment-icon svg {
  fill: #FFF;
  width: 49px;
  height: 23px;
  float: right;
}

.footer .absolute-footer .pull-right .payment-icons .payment-icon svg path {
  float: right;
}
/*# sourceMappingURL=style.css.map */